@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />

    <title>Identity | AdventureWorks</title>

    <link rel="icon" type="image/x-icon" href="favicon.png">
    <link rel="shortcut icon" type="image/x-icon" href="~/favicon.png" />
</head>
<body>


    <div class="content">
        @RenderBody()
    </div>


    @RenderSection("scripts", required: false)
</body>
</html>
